body {
  background-color: #FFFFFF;
}

nav {
  width: auto;
  height: 70px;
  background-color: #63707e;
  padding: 25px;
}

.nav-link {
  background-color: white;
}

.jumbotron {
  height: 150px;
  padding: 15px;
}

.cw-img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

.changePss-form {
  width: 600px;
  margin: 20px;

}

.form-control {
  width: 300px;
  margin-left: 35px;
    display: inline;
}

.form-control::placeholder {
  opacity: 0.2;
}

.text-muted {
  margin-left: 35px;
}

.card-deck {
  margin: 50px 120px;
}

.card-img-top {
  width: 130px;
  height: 130px;
  margin: 50px auto 0;
}


.card-t {
  background-color: #89a3b2;
}

.card-dashboard {
  background-color: #89a3b2;
}

.card-title {
  font-family: "lato-thin";
  font-size: 2.1rem;
}


.btn-setting {
  background-color: #89a3b2;
  color: white;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.main-menu {
  width: 500px;
  position: absolute;
  left: 80px;
  color: #f2f6f5;
  opacity: 0.5;
}

.btn-change {
  display: none;
}


/* h3 {
  font-size: 18px;
  color: white;
  margin-left: 1250px;
} */

label {
  width: auto;
  display: flex;
  margin-left: 40px;
}

label.title-label{
  margin-left: 60px;
}

label.agent-label {
  margin-left: 80px;
}


.title, .agent, .search, .dashboard {
  margin: 140px auto 20px;
  padding: 0px 60px;
}

img {
  width: 150px;
  height: 161px;
}

img.agent-icon {
  width: 210px;
}

.footer-logo {
  width: 30px;
  height: 40px;
  margin-right: 5px;
}

footer {
  width: 560px;
  margin: 200px auto 0;
  font-family: 'lato-thin';
  color: #757575;
}
