nav {
  width: auto;
  height: 70px;
  background-color: #63707e;
  padding: 25px;
}

body {
  background-color: #f3f3f3;
}

.nav-link {
  background-color: #CFD8DC;
}

.form-inline {
  width: 250px;
}

.btn-outline-danger, .btn-outline-warning, .btn-outline-info {
  margin: 10px 3px;
}

.btn-outline-warning {
  color: yellow;
  border-color: yellow;
}

.title {
  width: 1050px;
  color: #f2f6f5;
  opacity: 0.5;
}


th, td { white-space: nowrap; }

.dataTables_wrapper {
  /* margin-top: 20px */
  padding: 20px;
  width: 100%;
}

.dataTables_filter, .example_length {
  margin-bottom: 0;
}

.fUser-row, .sUser-row {
  width: 10px;
}

.sDate-row, .fDate-row, .machine-row {
  width: 90px;
}

.name-row {
  width: 60px;
}

.sTime-row, .fTime-row, .status-row, .qty-row {
  width: 50px;
}

.dataTables_info {
  width: 500px;
}

.dataTables_paginate {
  width: 750px;
}

.dataTables_paginate a {
  margin: 0 20px;
}


.btn-info, .btn-warning {
  width: 620px;
  margin: 20px 0;
}

.load-section {
  width: 1245px;
  margin: 0 auto;
}

table {
  margin-top: 20px;
  /* width: auto; */
}

/* this will affect table width */
.container{
    max-width: 1310px;
}

tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
    }

th {
  color: black;
  /* opacity: 0.5; */
}


tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
